*.log
.env
.env.example
.env.test
.eslintignore
.eslintrc.js
.git
.github
.idea
.prettierrc.js
.vscode
Dockerfile*
README.md
dist
docker-compose.yml
jest.config.js
jest.resolver.js
node_modules
nodemon.json
test
tsconfig.test.json
